@import url("https://fonts.cdnfonts.com/css/circular-std");
* {
  font-family: "Circular Std", sans-serif;
}

$bg-black: #000;
$bg-dark: #212121;
$bg-green: #1ed760;
$bg-hover: #424141;
$bg-black-gradient: linear-gradient(
  18deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(24, 24, 24, 1) 70%,
  rgba(33, 33, 33, 1) 100%
);
body {
  background-color: black;
  color: white;
  height: 100vh;
}

main {
  background-color: $bg-dark;
  width: 100%;
}

.forceDNone {
  display: none !important;
}
