aside {
  height: 100%;
  width: 350px;
  background-color: $bg-black;
  padding: 20px;
  div.friendInfo {
    margin-left: 10px;
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
    }
  }
  span.friendTime,
  div.friendSong,
  div.friendAlbum {
    font-size: 75%;
    font-weight: 200;
  }
  div.friendName {
    font-weight: 600;
  }
}
