body {
  background: $bg-black-gradient;
}
main {
  overflow-y: scroll;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
/* main {
  @media screen and(max-width:576px) {
    margin-bottom: 220px;
  }
} */
#home-main {
  align-items: center;
  background: $bg-black-gradient;
}
a {
  text-decoration: none;
}
p > a {
  color: rgb(155, 153, 153);
}
.card,
.btn-save {
  background-color: $bg-black;
}

.btn-play {
  background-color: $bg-green;
}
.btn-play:hover {
  background-color: $bg-green;
  color: black;
  transform: scale(1.01);
}
.btn-save:hover {
  transform: scale(1.01);
}
.account-pill {
  background-color: $bg-black;
}
.showcase-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 200px;
  @media screen and(max-width:575px) {
    width: 150px;
    height: 150px;
  }
  @media screen and(max-width:327px) {
    width: 125px;
    height: 125px;
  }
}
.showcase-title,
.showcase-text {
  @media screen and(max-width:575px) {
    font-size: x-small;
  }
}
.showcase-text {
  @media screen and(max-width:575) {
    color: grey !important;
  }
}
.showcase-pills {
  @media screen and(max-width:575px) {
    min-width: 50px !important;
    font-size: x-small;
  }
}
#hide-sm {
  @media screen and(max-width:575px) {
    display: none !important;
  }
}
.btn-forward_backward {
  background-color: $bg-black;
}
#showcase-card {
  background: $bg-black;
  background: linear-gradient(
    18deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(24, 24, 24, 1) 70%,
    rgba(33, 33, 33, 1) 100%
  );
  padding: 12px;
}
.dropdown-toggle::after {
  content: unset;
}
.text-decoration-none {
  color: grey;
}

.showcase-pills {
  min-width: 80px;
}
.dropdown-menu {
  background-color: #282828;
  padding: 3px;
}
.dropdown-item:hover {
  background-color: #3e3e3e;
}
.playlist-main-card {
  min-width: 135px;
  max-width: 32%;
  border-radius: 0px;
  /*     @media screen and(max-width:1273px) {
    width: 47%;
    max-width: unset;
  } */
  @media screen and(max-width:576px) {
    font-size: small;
  }
  @media screen and(max-width:454px) {
    max-width: 49%;
  }
}
.myplaylist-text {
  @media screen and (max-width: 454px) {
    font-size: x-small;
  }
}
/* #middleShowcase {
  @media screen and(max-width:1593px) {
    justify-content: center !important;
  }
} */
.playlist-main-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 59px;
  @media screen and(max-width:540px) {
    width: 45px;
  }
}
.bi-play-circle-fill {
  color: $bg-green;
  visibility: hidden;
}
.bi-play-circle-fill::before {
  background-color: #000;
  border-radius: 50%;
}
.bi-play-circle-fill::before:hover {
  box-shadow: 2px 2px 15px black;
}
.playing-card:hover {
  background-color: $bg-hover;
  cursor: pointer;
  .myPlaylist-playButton {
    visibility: visible;
    border-radius: 75%;
    box-shadow: -1px 0px 15px -2px #000;
    font-size: 39px;
    right: 0%;
    top: 12%;
  }
  .suggestedPlaylist-playButton {
    visibility: visible;
    border-radius: 75%;
    box-shadow: -1px 0px 15px -2px #000;
    font-size: 46px;
    right: 11%;
    top: 40%;
  }
}
*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(124, 123, 123);
  border: 3px solid rgb(124, 123, 123);
}
#firstToGo {
  @media screen and(max-width: 1460px) {
    display: none;
  }
}

#secondToGo {
  @media screen and(max-width: 1240px) {
    display: none;
  }
}
/* #thirdToGo {
  @media screen and(max-width: 767px) {
    display: none;
  }
} */
.playing-card {
  @media screen and(max-width: 767px) {
    width: 13rem !important;
  }
}
#suggested-playlist {
  @media screen and (max-width: 1460px) {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}
