body {
  background: $bg-black-gradient;
}
a {
  text-decoration: none;
}
.card,
.btn-save {
  background-color: $bg-black;
}

.btn-play {
  background-color: $bg-green;
}
.btn-play:hover {
  background-color: $bg-green;
  color: black;
  transform: scale(1.01);
}
.btn-save:hover {
  transform: scale(1.01);
}
.account-pill {
  background-color: $bg-black;
}
.showcase-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 200px;
}
.btn-forward_backward {
  background-color: $bg-black;
}
#showcase-card {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    18deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(24, 24, 24, 1) 70%,
    rgba(33, 33, 33, 1) 100%
  );
  padding: 12px;
}
.dropdown-toggle::after {
  content: unset;
}
.text-decoration-none {
  color: grey;
}

.showcase-pills {
  min-width: 80px;
}
.dropdown-menu {
  background-color: #282828;
  padding: 3px;
}
.dropdown-item:hover {
  background-color: #3e3e3e;
}
.playlist-main-card {
  min-width: 45px;
}

.playlist-main-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 50px;
}
.bi-play-circle-fill {
  color: $bg-green;
  visibility: hidden;
}
.playing-card:hover {
  background-color: $bg-hover;
  cursor: pointer;
  .myPlaylist-playButton {
    visibility: visible;
    border-radius: 50%;
    box-shadow: -1px 0px 15px -2px #000000;
    font-size: 30px;
    right: 0%;
    top: 19%;
  }
  .suggestedPlaylist-playButton {
    visibility: visible;
    border-radius: 50%;
    box-shadow: -1px 0px 15px -2px #000000;
    font-size: 40px;
    right: 7%;
    top: 29%;
  }
}
