body {
  background: $bg-black-gradient;
}
main {
  overflow-y: scroll;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.card,
.btn-save {
  background-color: $bg-black;
}

.btn-play {
  background-color: $bg-green;
}
.btn-play:hover {
  background-color: $bg-green;
  color: black;
  transform: scale(1.01);
}
.btn-save:hover {
  transform: scale(1.01);
}
.account-pill {
  background-color: $bg-black;
}
.showcase-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 200px;
}
.btn-forward_backward {
  background-color: $bg-black;
}
#showcase-card {
  background: $bg-black;
  background: linear-gradient(
    18deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(24, 24, 24, 1) 70%,
    rgba(33, 33, 33, 1) 100%
  );
  padding: 12px;
}
.dropdown-toggle::after {
  content: unset;
}
.text-decoration-none {
  color: grey;
}

.showcase-pills {
  min-width: 80px;
}
.dropdown-menu {
  background-color: #282828;
  padding: 3px;
}
.dropdown-item:hover {
  background-color: #3e3e3e;
}
.playlist-main-card {
  min-width: 250px;
  max-width: 32%;
  border-radius: 0px;
  @media screen and(max-width:1273px) {
    width: 47%;
    max-width: unset;
  }
  @media screen and(max-width:549px) {
    width: 98%;
    max-width: unset;
  }
}

/* #middleShowcase {
  @media screen and(max-width:1593px) {
    justify-content: center !important;
  }
} */
.playlist-main-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 59px;
}
.bi-play-circle-fill {
  color: $bg-green;
  visibility: hidden;
}
.bi-play-circle-fill::before {
  background-color: #000;
  border-radius: 50px;
}
.playing-card:hover {
  background-color: $bg-hover;
  cursor: pointer;
  .myPlaylist-playButton {
    visibility: visible;
    border-radius: 50%;
    box-shadow: -1px 0px 15px -2px #000000;
    font-size: 30px;
    right: 0%;
    top: 19%;
  }
  .suggestedPlaylist-playButton {
    visibility: visible;
    border-radius: 50%;
    box-shadow: -1px 0px 15px -2px #000000;
    font-size: 40px;
    right: 7%;
    top: 29%;
  }
}
*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(124, 123, 123);
  border: 3px solid rgb(124, 123, 123);
}
#firstToGo {
  @media screen and(max-width: 1460px) {
    display: none;
  }
}

#secondToGo {
  @media screen and(max-width: 1240px) {
    display: none;
  }
}
#thirdToGo {
  @media screen and(max-width: 767px) {
    display: none;
  }
}
.playing-card {
  @media screen and(max-width: 767px) {
    width: 13rem !important;
  }
}
