
navbar{
  background-color: black;
  display: flex;
  flex-direction: column;
  min-width: 241px;
  height: 100%;
  margin: 0;
  padding: 0;
  
  .logo{
    color:white;
    margin-bottom: 18px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    .spotylogo{
      height: 40px;
      max-width: 131px;
      width: 100%;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      padding: 0 8px;
      a{
        text-decoration: none;
        color:rgb(179, 179, 179);
        font-size: 0.9em;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 16px;
        height: 40px;   
        padding: 0 16px;
        i{
          font-size: 1.5em;
        }
      }
      a:hover{
        color: white;
      }
      a:active{
        color: white;
      }
    }
  }
  .playlist{
    margin-top: 24px;
    height: 100%;
    #playlist-input{
      display: none;
      justify-content: center;
      #playlist-name-input{
        width: 60%;
        color: white;
        background-color: black;
        border: 1px solid white;
        border-radius: 5px;
        margin-right: 8px;
      }
      #submit-playlist-btn{
        color: white;
        background-color: black;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 14px;
      }
    }
    #playlist-name-display{
      color: rgb(179, 179, 179);
      padding: 5px 20px;
      line-height: 20px;
      overflow:auto;
    }
    #playlist-name-display a:hover{
      color: white;
    }
    #playlist-name-display a:active{
      color: white;
    }
    ul{
      list-style: none;
      padding: 0;
      li {
        padding: 0 8px;
        a{
          text-decoration: none;
          color: rgb(179, 179, 179);
          font-size: 0.9em;
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 16px;
          height: 40px;   
          padding: 0 16px;
          i{
            font-size: 1.5em;
          }
          .bi-plus{
            color: black;
            background-color: rgb(198, 197, 197);
          }
          
        }    
        a:hover{
          color: white;
        }
        a:active{
          color: white;
        }
      }
    }
  }
  .links{
    margin-top: 32px;
    margin-bottom: 70px;   //modificabile perchè il footer da problemi
    padding: 0 24px;
    text-align: start;
    z-index: 1;
    li{
      padding: 0px;
    }
    a{
      text-decoration-line: none;
      margin-bottom: 8px;
      margin-right: 16px;
      font-size: 0.7em;
      color: gray;
      height: 17px;
      padding: 0px;
    }
  }
}
