footer {
  width: 100%;
  background-color: $bg-black;

  #buttonFooter1,
  #buttonFooter2,
  #buttonFooter3,
  #buttonFooter4,
  #buttonFooter5,
  #buttonFooter6,
  #buttonFooter7,
  #buttonFooter8,
  #buttonFooter9,
  #buttonFooter10 {
    background-color: transparent;
    border: 0;
  }
  #coverContainer {
    background-color: $bg-black;
    background-size: cover;
    width: 50px;
    height: 50px;
  }

  #playerBarFooter {
    height: 50px;
  }
  /**#buttonFooterContainer {
    height: 50px;
  }**/

  #svgFooter {
    width: 1.5em;
  }

  #customRange2 {
    width: 150px;
    margin-left: 1em;
    height: 3px;
    max-width: 7em;
  }

  .iconsFooter {
    color: rgb(192, 185, 185); //aggiungere colore a _defaults
    margin-left: 0.1em;
    &:hover {
      transform: scale(1.1);
      color: white;
    }
  }
  #playerPlay {
    visibility: visible;
    @extend .iconsFooter;
  }
}

#sliderCenter {
  width: 60%;
  height: 3px;
  max-width: 35em;
  ::-webkit-progress-bar {
    background-color: green;
  }
}

#FooterMobile {
  width: 100%;
  position: fixed;
  bottom: 7.5em;

  #coverContainerMobile {
    width: 65px;
    height: 65px;
    background-color: aqua; //colore impostato per prova
    border-radius: 50%;
  }

  #footerMobileContainer {
    width: 95%;
    background-color: $bg-dark;
    border-radius: 1.2em;
  }
  #svgFooter {
    width: 3em;
    min-width: 3em;
  }

  .iconsFooterCustom {
    font-size: 3em;
  }
}

input[type="range"]::-moz-range-progress {
  background-color: #ffffff;
}
input[type="range"]::-moz-range-track {
  background-color: #5c5c5c;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ffffff;
}
input[type="range"]::-ms-fill-upper {
  background-color: #5c5c5c;
}

//CHROME VARIANT

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 1px;
  border-radius: 1em;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1px;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ffffff;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: #464646;
}

input[type="range"]:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type="range"].slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#ffffff, #ffffff) 0 / var(--sx) 100% no-repeat,
    #efefef;
}

input[type="range"].slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#ffffff, #ffffff) 0 / var(--sx) 100% no-repeat,
    #e5e5e5;
}

input[type="range"].slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(#d2d2d2, #d2d2d2) 0 / var(--sx) 100% no-repeat,
    #f5f5f5;
}
