footer {
  width: 100%;
  background-color: $bg-black;

  #buttonFooter1,
  #buttonFooter2,
  #buttonFooter3,
  #buttonFooter4,
  #buttonFooter5,
  #buttonFooter6,
  #buttonFooter7,
  #buttonFooter8,
  #buttonFooter9,
  #buttonFooter10 {
    background-color: transparent;
    border: 0;
  }
  #coverContainer {
    background-color: orange;
    width: 50px;
    height: 50px;
  }

  #playerBarFooter {
    height: 50px;
  }
  /**#buttonFooterContainer {
    height: 50px;
  }**/

  #svgFooter {
    width: 1.5em;
  }

  #customRange2 {
    width: 150px;
    margin-left: 1em;
    height: 3px;
    max-width: 7em;
  }

  .iconsFooter {
    color: rgb(192, 185, 185); //aggiungere colore a _defaults
    margin-left: 0.1em;
    &:hover {
      transform: scale(1.1);
      color: white;
    }
  }
  #playerPlay {
    visibility: visible;
    @extend .iconsFooter;
  }
}

#sliderCenter {
  width: 100%;
  height: 3px;
  max-width: 35em;
  ::-webkit-progress-bar {
    background-color: green;
  }
}

#FooterMobile {
  width: 100%;
  position: fixed;
  bottom: 7.5em;

  #coverContainerMobile {
    width: 65px;
    height: 65px;
    background-color: aqua; //colore impostato per prova
    border-radius: 50%;
  }

  #footerMobileContainer {
    width: 95%;
    background-color: $bg-dark;
    border-radius: 1.2em;
  }
  #svgFooter {
    width: 3em;
    min-width: 3em;
  }

  .iconsFooterCustom {
    font-size: 3em;
  }
}
